name: Compilability check
on: [ push ]

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        abi: [ "armeabi-v7a", "arm64-v8a", "x86", "x86_64" ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup the environment
        run: |
          sudo apt update
          sudo apt install meson nasm ninja-build

      - name: Executing FFmpeg Build
        run: |
          export ANDROID_SDK_HOME=$ANDROID_HOME
          export ANDROID_NDK_HOME=$ANDROID_NDK_LATEST_HOME
          ./ffmpeg-android-maker.sh -all-free -all-gpl -android=24 -abis=${{ matrix.abi }}

      - name: Build AAR with Gradle
        run: ./gradlew assembleRelease

      - name: Upload AAR Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-aar-${{ matrix.abi }}
          path: "**/build/outputs/aar/*.aar"
